
/* LINED PAPER */
#text::before {
 content: "\"";
}
#text::after {
 content: "\"";
}
#title::after {
 content: " said:";
 font-size: 20px;
}

h5.warning {
    font-family: 'Schoolbell';
    color: red;
    font-size: 1.5rem;
}

.card{
 font-family: Courier, monospace;
 background-color: white;
 background: repeating-linear-gradient(white, white 25px, #9198e5 26px, #9198e5 27px);
 background-position-y: 34px;
  --bs-card-spacer-x: .75rem;
  min-height: 20rem;
  max-width: 801px;
  margin-left: auto;
  margin-right: auto;


   
}

#accordionwarning .accordion-body {
    font-family: 'Courier', monospace;



}

#accordionwarning .accordion-button::after {
    margin-left: auto;
}
.warning{
  margin-bottom: 0;
}

 #accordionwarning    .accordion-button:not(.collapsed){
  background-color: transparent;
 }
#accordionwarning .accordion-collapse{
background-color: transparent;
}

.accordion-button{
  font-weight: 700;
}

.accordion-body {
    font-weight: 100;
    font-family: 'Schoolbell';
}

@media (max-width: 575px) {
      .card{
    background-position-y:  48px;
  }
     .landlord-attribute {
      line-height: 1.9;
  }
  h5.warning {
 
    font-size: 1.2rem;
}


}


.accordion-button::after{
  margin: 0;
}


.grade-value {
    font-size: 1.5em;
    margin-left: auto;
    margin-right: 1rem;
}

.card header {
 background: linear-gradient(white, white 33px, pink 35px, pink 36px);
 height: 36px;
}
.card-title {
 position: relative;
 left: 10px;
 top: 8px;
 font-size: 30px;
 font-weight: bold;
}
.card-text {
 position: relative;
 top: 30px;
 font-size: 18px;
 margin: 0 20px;
 line-height: 27px;
}
/* gLINED PAPER */


.title-label {
    font-size: 1em;
}

.grade, .landlord-name{
  font-size: 2.75em;

}
h2{
line-height: 1.1}
.card-body{
  padding-top: 0;
}
.grade-value {
    font-size: 1.5em;
}
.landlord-attribute{
  font-weight: 700;
  line-height: 1.7;
}

.accordion {--bs-accordion-bg: transparent;
--bs-accordion-border-color: none}

.accordion-collapse {
    background-color: white;
}

.accordion-button {
    padding: 0;
}

.btn-grey{
    background-color:#D8D8D8;
  color:#FFF;
}


.font-handwritten{
  font-family: 'Schoolbell', cursive;
}




.title-row {
    background-color: white;
    border-bottom: solid pink;
}

.font-typewriter{
  font-family: Courier, monospace;
}

.font-coronette{
  font-family: Dunbar, serif;
}

.rating-block{
  background-color:#FAFAFA;
  border:1px solid #EFEFEF;
  padding:15px 15px 20px 15px;
  border-radius:3px;
}
.bold{
  font-weight:700;
}
.padding-bottom-7{
  padding-bottom:7px;
}

.review-block{
  background-color:#FAFAFA;
  border:1px solid #EFEFEF;
  padding:15px;
  border-radius:3px;
  margin-bottom:15px;
}
.review-block-name{
  font-size:12px;
  margin:10px 0;
}
.review-block-date{
  font-size:12px;
}
.review-block-rate{
  font-size:13px;
  margin-bottom:15px;
}
.review-block-title{
  font-size:15px;
  font-weight:700;
  margin-bottom:10px;
}
.review-block-description{
  font-size:13px;
}


#map { height: 400px; }