
/* LINED PAPER */
#text::before {
 content: "\"";
}
#text::after {
 content: "\"";
}
#title::after {
 content: " said:";
 font-size: 20px;
}


.card{
 font-family: Courier, monospace;
 background-color: white;
 background: repeating-linear-gradient(white, white 25px, #9198e5 26px, #9198e5 27px);
 background-position-y: 34px;
   
}
.card header {
 background: linear-gradient(white, white 33px, pink 35px, pink 36px);
 height: 36px;
}
.card-title {
 position: relative;
 left: 10px;
 top: 8px;
 font-size: 30px;
 font-weight: bold;
}
.card-text {
 position: relative;
 top: 30px;
 font-size: 18px;
 margin: 0 20px;
 line-height: 27px;
}
/* gLINED PAPER */


.title-label {
    font-size: 1em;
}

.grade, .landlord-name{
  font-size: 2.75em;

}

.grade-value {
    font-size: 1.5em;
}
.landlord-attribute{
  font-weight: 700;
}

.accordion {--bs-accordion-bg: transparent;}

.accordion-collapse {
    background-color: white;
}

.accordion-button {
    padding: 0;
}

.btn-grey{
    background-color:#D8D8D8;
  color:#FFF;
}


.font-handwritten{
  font-family: 'Schoolbell', cursive;
}


.font-typewriter{
  font-family: Courier, monospace;
}

.rating-block{
  background-color:#FAFAFA;
  border:1px solid #EFEFEF;
  padding:15px 15px 20px 15px;
  border-radius:3px;
}
.bold{
  font-weight:700;
}
.padding-bottom-7{
  padding-bottom:7px;
}

.review-block{
  background-color:#FAFAFA;
  border:1px solid #EFEFEF;
  padding:15px;
  border-radius:3px;
  margin-bottom:15px;
}
.review-block-name{
  font-size:12px;
  margin:10px 0;
}
.review-block-date{
  font-size:12px;
}
.review-block-rate{
  font-size:13px;
  margin-bottom:15px;
}
.review-block-title{
  font-size:15px;
  font-weight:700;
  margin-bottom:10px;
}
.review-block-description{
  font-size:13px;
}


#map { height: 400px; }