{% extends "base.html" %}
{% block title %}About the Landlord Report Card{% endblock %}
{% block content %}
<div class="main">

<p><strong>About the Landlord Report Card</strong></p>
<p>The Landlord Report Card is a volunteer-led, grassroots project based in Albany, NY, working to provide greater transparency into the City's data for tenants across the city. It is an open-source project whose code is availible <a target="_blank" href="https://github.com/landlord-report-card/open-landlord">here.</a></p>

<p><strong>Contact Us</strong></p>
<p>If you have feedback on the site or wish to get into contact with the developers and maintainers of the site, you can email us at <a href="mailto:info@albanylandlord.com">info@albanylandlord.com</a>

</div>


{% endblock %}
