{% extends "base.html" %}
{% block title %}Frequently Asked Questions{% endblock %}
{% block content %}
<div class="main" id="action-page">




<p>The information below has been aggregated from the City of Albany’s <a target="_blank" href="https://www.albanyny.gov/1944/Tenant-Resources-Information">Albany Tenant Resource & Information Center</a> and the United Tenants of Albany’s (UTA) <a target="_blank" href="https://utalbany.org/for-tenants/">resources for tenants</a>. Please visit these sites for the most up to date resources and information.</p>

<div class="row">
	
	 <div class="col-8">
<div class="accordion" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				My rights as a tenant have been violated.
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<p><a href="https://www.albanyny.gov/1986/Your-Rights-as-a-Renter">Know your rights as a renter.</a></p>
				<p>For assistance or guidance in pursuing civil legal action against a landlord, visit <a href="https://nycourts.gov/courthelp/">New York State CourtHelp</a> for a variety of self-help resources. </p>
				<p>You may also try contacting the <strong>Legal Aid Society of Northeastern New York</strong> at (833) 628-0087.</p>
				<p>For tenant advocacy or mediation services, contact <strong>United Tenants of Albany </strong>at (518) 436-8997 x3.</p>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingTwo">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				I'm facing eviction.
			</button>
		</h2>
		<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<p>For tenants facing eviction, the <strong>worst thing to do is to do nothing</strong>.&nbsp;</p>
				<p>Pay attention to any court dates or deadlines. Talk to your landlord - can you work out a payment plan? Apply for assistance? Fix the lease violations?</p>
				<p>Contact the <strong>Legal Aid Society of Northeastern New York</strong> at <strong>(833) 628-0087</strong> to see if you may be eligible for free civil legal services.&nbsp;</p>
				Tenants in New York State who have been impacted financially by COVID-19 are protected from eviction until January 15, 2022. You must fill out a copy of the <a href="https://nycourts.gov/eefpa/PDF/Residential_Eviction_Hardship_Declaration-English.pdf">Tenant's Declaration of Hardship During the COVID-19 Pandemic</a> in order to be protected.
				
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingThree">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					I'm behind on rent or utilities.
				</button>
			</h2>
			<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p><strong>United Tenants of Albany</strong> is currently the community's primary rental assistance provider. They also have some funding for utility assistance. UTA can be reached by phone at <strong>(518) 436-8997 x3</strong>. More information on financial assistance from UTA can be found <a href="https://utalbany.org/for-tenants/#:~:text=UTA%20Financial%20Assistance%20Service">here</a>.</p>
					The <strong>Home Energy Assistance Program </strong>from the Albany County Department of Social Services is also open and accepting applications for utility assistance. To learn more or apply, call <strong>(518) 447-7323</strong>.
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingFour">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					I am interested in learning about how to form a Tenant Association in my building 
				</button>
			</h2>
			<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<strong>United Tenants of Albany</strong> is able to support tenants in the City of Albany who want to canvas their neighbors, hold tenant meetings, and form a Tenant Association. Tenant Associations are a powerful way to bargain with your landlord for repairs and have tenant voices be heard. Call <strong>(518) 436-8997 x3 </strong>to be connected to a tenant organizer.
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingFive">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
					I have code violations in my apartment 
				</button>
			</h2>
			<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>First,&nbsp; alert your landlord to anything broken or dangerous in your apartment. Make sure this is in writing. (text, e-email, certified mail)</p>

					If your landlord does not fix the issue, reach out to code enforcement at&nbsp;<strong>518-434-5995 or by emailing </strong><a href="mailto:codes@albanyny.gov"><strong>codes@albanyny.gov</strong></a>. Code enforcement will ask for your contact information and set up a date/time to come inspect the property.

					<p>Code enforcement is likely not going to solve all of your habitability issues, but is a tool for tenants to use to improve their housing.</p>
					
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingSix">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
						I need help finding an apartment
					</button>
				</h2>
				<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<p>Finding &amp; Applying for Housing: This <em>Good Neighbor School </em>module covers tips for&nbsp; searching for housing and getting through the rental application process.&nbsp;&nbsp;</p>
						<p>Capital Region Affordable Housing Directory: This guidebook includes many&nbsp; affordable housing developments in the region. <em>Note: Some may be on waitlists.&nbsp;</em></p>
						Affordable Rental Listing (ARL): This is a resource prepared by Fawn Dalton at the&nbsp; Albany Housing Coalition. To join the monthly distribution list, you can contact&nbsp; Fawn by emailing f.dalton@ahcvets.org.
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingSeven">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
						I want to check to see if my building/apartment has a Residential Occupancy Permit (ROP).
					</button>
				</h2>
				<div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<p>To check if your building has an current ROP <a target="_blank" href="https://www.albanyny.gov/DocumentCenter/View/2369/Active-Residential-Occupancy-Permits-12152021?bidId=">check this list.</a></p>
						<strong>If you do not see your property listed here, reach out to code enforcement at 518-434-5995 or by emailing <a href="mailto:codes@albanyny.gov">codes@albanyny.gov</a> to clarify why.</strong>
					</div>
				</div>
			</div>
		</div>
			</div>
		</div>
		{% endblock %}


		I need help finding an apartment

