{% extends "base.html" %}
{% block title %}Frequently Asked Questions{% endblock %}
{% block content %}

<h2>Frequently Asked Questions</h2>

<p><strong>Where does this data come from?</strong></p>
<p>All data is publicly available and comes from the Albany, NY instance of <a href="https://albany-ny.tolemi.com/">Building Blocks</a></p>.
</br>
<p><strong>How are landlord grades calculated?</strong></p>
<p>Landlord grades are calculated based on standard deviations from citywide averages.</p>.
</br>
{% endblock %}
