{% extends "base.html" %}
{% block title %}Albany Open Landlord{% endblock %}
{% block content %}
<h1>Find your landlord</h1>
    <p class="lead">Type in your address to find your landlord!</p>
    <form class="d-flex" role="search" method="post">
      {{form.search(class_="form-control me-2")}}
    <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

<br>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Property Address</th>
      <th scope="col">Owner/Landlord Name</th>
    </tr>
  </thead>
  <tbody>
    {% for property, landlord in results %}
    <tr>
      <td>{{property.address}}</td>
      <td><a href="/landlord/{{property.owner_id}}">{{landlord}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
