{% extends "base.html" %}
{% block title %}Albany Landlord Report Card{% endblock %}
{% block content %}


<h1>Find your landlord</h1>
    <p class="lead">Type in your address or landlord name to find your landlord!</p>

    <form class="d-flex ui-autocomplete-input" role="textbox" method="post" autocomplete="off" aria-autocomplete="list" aria-haspopup="true">
    <input class="form-control me-2" id="tags" name="search" type="text" value="{{form.data.search}}">
    <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

<script>
  $( function() {
    var availableTags = [
        {% for value in autocomplete_prompts %}
            "{{value}}",
        {% endfor %}
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>

<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Property Address</th>
      <th scope="col">Owner/Landlord Name</th>
    </tr>
  </thead>
  <tbody>
    {% for property, landlord in results %}
    <tr>
      <td>{{property.address}}</td>
      <td><a href="/landlord/{{property.owner_id}}">{{landlord}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
