{% extends "base.html" %}
{% block title %}Albany Open Landlord{% endblock %}
{% block content %}
<!-- Custom styles for this template -->
<link href="/static/css/landlord.css" rel="stylesheet">
<div class="col-sm-6">
        <div class="rating-block">
          <h4>Overall Landlord Score</h4>
          <h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
          <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
        </div>
      </div>
</br>
<strong>Landlord Name: </strong>{{landlord.name}}</br>
<strong>Landlord Address: </strong>{{landlord.address}}</br>
<strong>Landlord Location: </strong>{{landlord.location}}</br>
<strong>Properties Owned: </strong>{{landlord.property_count}}</br>
<strong>Total Code Violations : </strong>{{landlord.code_violations_count}}</br>
<strong>Total Service Calls : </strong>{{landlord.service_call_count}}</br>
<strong>Total Tenant Complaints : </strong>{{landlord.tenant_complaints}}</br>
<strong>Total Health Violations : </strong>{{landlord.health_violation_count}}</br>
<strong>Total Rental Registry Count : </strong>{{landlord.rental_registry_count}}</br>
<strong>Total Rental Code Cases : </strong>{{landlord.rental_code_cases}}</br>
<strong>Properties:</strong></br>
<ul>
{% for property in properties %}
  <li><a href="/property/{{property.id}}">{{property.address}}</a></li>
{% endfor %}
</ul>
{% endblock %}
