{% extends "base.html" %}
{% block title %}{{landlord.name}}{% endblock %}
{% block content %}
<!-- Custom styles for this template -->
<link href="/static/css/landlord.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
crossorigin=""></script>
<div class="main">

  {% if unsafe_unfit_list|length > 0 %}
  <div class="container">
    <div class="alert alert-danger row" role="alert">


      <div class="accordion" id="accordionwarning">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingtop">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetop" aria-expanded="false" aria-controls="collapsetop">
              <h5 class="warning">Warning about this landlord!</h5> 
           </button>
         </h2>
         <div id="collapsetop" class="accordion-collapse collapse" aria-labelledby="headingtop" data-bs-parent="#accordionExample">
          <div class="accordion-body">
           <p>This landlord has had one or more properties deemed unsafe or unfit for habitability by the City of Albany within the past year.
           </p><p>
             Call the City of Albany Code Department to determine if the unit you're looking at has been deemed unsafe or unfit. <a target="_blank" href="https://www.albanyny.gov/2038/Code-Enforcement#:~:text=Unsafe%2FUnfit%20Orders,gas%2C%20electricity%2C%20or%20heat%20utilities">Learn More</a></p>
             <strong>Impacted Properties:</strong>
             {% for property in unsafe_unfit_list %}
             <li><a href="/property/{{property.id}}">{{property.address}}</a></li>
             {% endfor %}


           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 {% endif %}

 <div class="container font-typewriter">
  <div class="card">
    <div class="card-body">
      <div class="row title-row text-center">
        <div class="col-sm">
          <span class="title-label">Landlord</span><br>
          <span class="landlord-name font-handwritten">{{landlord.name}}</span>
        </div>
        <div class="col-sm">
          <span class="title-label">Grade</span><br>
          <span class="font-handwritten grade" style="color: #{{landlord_score.color}} ">{{landlord_score.grade}}</span>
        </div>        
      </div>
      <div class="row">
        <div class="col-sm">
          <span class="landlord-attribute">Address: </span>
          <span class="font-handwritten">{{landlord.address}}</span></br>
          <span class="landlord-attribute">Landlord Size:</span> 
          <span class="font-handwritten" style="color: #{{landlord.size_color}}">{{landlord.size}}</span></br>
          {% if aliases|length > 0 %}
          <span class="landlord-attribute">Also Known As: </span> 
          <span class="font-handwritten">
            {% for alias in aliases %}
            {{alias.name}}
            {{ "," if not loop.last else "" }}
            {% endfor %}
            {% endif %}
          </span>  
        </div>
        <div class="col-sm">

          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Tenant Complaints:&nbsp;<span class="font-handwritten grade-value" style="color: #{{landlord_stats.tenant_complaints_count_color}}">{{landlord_stats.tenant_complaints_count_grade}}</span>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">

                  <p class="mb-0">Total Tenant Complaints: {{landlord_stats.tenant_complaints_count}} </p>
                  <p class="mb-0">Tenant Complaints Per Property: {{landlord_stats.tenant_complaints_count_per_property|round(2)}} </p>
                  <p class="mb-0">City Average: {{city_average_stats.average_tenant_complaints_count|round(3)}} </p>

                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Code Violations:&nbsp;<span class="font-handwritten grade-value" style="color: #{{landlord_stats.code_violations_count_color}}">{{landlord_stats.code_violations_count_grade}}</span>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="mb-0">Total Code Violations: {{landlord_stats.code_violations_count}} </p>
                  <p class="mb-0">Code Violations Per Property: {{landlord_stats.code_violations_count_per_property|round(2)}} </p>
                  <p class="mb-0">City Average: {{city_average_stats.average_code_violations_count|round(3)}}</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Landlord/Tenant Police Incidents:&nbsp;<span class="font-handwritten grade-value" style="color: #{{landlord_stats.police_incidents_count_color}}">{{landlord_stats.police_incidents_count_grade}}</span>
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                 <p class="mb-0">Total Landlord/Tenant Police Incidents: {{landlord_stats.police_incidents_count}} </p>
                 <p class="mb-0">Police Incidents Per Property: {{landlord_stats.police_incidents_count_per_property|round(2)}} </p>
                 <p class="mb-0">City Average: {{city_average_stats.average_police_incidents_count|round(3)}}</p>
               </div>
             </div>
           </div>

           <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                Eviction Filings (in Q3 2022):&nbsp;<span class="font-handwritten grade-value" style="color: #{{landlord_stats.eviction_count_color}}">{{landlord_stats.eviction_count_grade}}</span>
              </li>
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="mb-0">Total Eviction Filings: {{landlord_stats.eviction_count}} </p>
              <p class="mb-0">Eviction Filings Per Property: {{landlord_stats.eviction_count_per_property|round(2)}} </p>
              <p class="mb-0">City Average: {{city_average_stats.average_eviction_count|round(3)}}</p>
            </div>
          </div>
        </div>

      </div>        
    </div>
  </div>
</div>
</div>
</div>
<br>

<div class="container font-typewriter">
  <div class="row text-center">
    <div class="col-sm">
      <h5>Properties Owned By or Associated with {{landlord.name}}:</h5>
      <ul class="list-group">
        {% for property in properties %}
        <li class="list-group-item"><a href="/property/{{property.id}}">{{property.address}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm">
      <div id="map"></div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
  var properties_json = {{ properties | tojson }}
</script>
<script type="text/javascript" src="/static/js/landlord.js"></script>

{% endblock %}

