{% extends "base.html" %}
{% block title %}{{property.address}}{% endblock %}
{% block content %}
<link href="/static/css/landlord.css" rel="stylesheet">
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>
 <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>

<strong>Property Address: </strong>{{property.address}}</br>
<strong>Owner: </strong><a href="/landlord/{{landlord.id}}">{{landlord.name}}</a></br>
{% if property.unsafe_unfit_count > 0 %}
<div class="alert alert-danger" role="alert">
<strong>Warning:</strong> This property has been deemed unsafe or unfit for habitability by the City of Albany within the past year. </br>You may wish to contact the City of Albany Code Department to determine if this unit is safe to be occupied. <a target="_blank" href="https://www.albanyny.gov/2038/Code-Enforcement#:~:text=Unsafe%2FUnfit%20Orders,gas%2C%20electricity%2C%20or%20heat%20utilities">Learn More</a>
</div>
{% endif %}
<strong>Current Use: </strong>{{property.current_use}}</br>
<strong>Business Entity Type: </strong>{{property.business_entity_type}}</br>
<strong>Owner Occupied: </strong>{{property.owner_occupied}}</br>
<strong>Parcel ID: </strong>{{property.parcel_id}}</br>
<strong>Property Type: </strong>{{property.property_type}}</br>
<strong>Tenant Complaints: </strong>{{property.tenant_complaints}}</br>
<strong>Code Violations Count: </strong>{{property.code_violations_count}}</br>
<strong>Police Incidents Count: </strong>{{property.police_incidents_count}}</br>


<div id="map"></div>


<script type="text/javascript">
    var property_json = {{ property | tojson }}
</script>
<script type="text/javascript" src="/static/js/property.js"></script>

{% endblock %}

