{% extends "base.html" %}
{% block title %}Albany Open Landlord{% endblock %}
{% block content %}
<strong>Property Address: </strong>{{property.address}}</br>
<strong>Parcel ID: </strong>{{property.parcel_id}}</br>
<strong>Service Call Count: </strong>{{property.service_call_count}}</br>
<strong>Property Type: </strong>{{property.property_type}}</br>
<strong>Tenant Complaints: </strong>{{property.tenant_complaints}}</br>
<strong>Health Violation Count: </strong>{{property.health_violation_count}}</br>
<strong>Rental Registry Count: </strong>{{property.rental_registry_count}}</br>
<strong>Rental Code Cases: </strong>{{property.rental_code_cases}}</br>
<strong>Code Violations Count: </strong>{{property.code_violations_count}}</br>
<strong>Rent Plan Probability: </strong>{{property.rent_plan_probability}}%</br>
<strong>Deferred Maintenance Probability: </strong>{{property.deferred_maintenance_probability}}%</br>
<strong>Housing Instability Probability: </strong>{{property.housing_instability_probability}}%</br>
<strong>Eviction Probability: </strong>{{property.eviction_probability}}%</br>

{% endblock %}

